
// $color__background-body: #fff;
// $color__text-main: #333;

$color__background-body: #fff;
$color__text-main: #333;
$color__link-accent: #d35400;

// Based on BG & text color:
$color__background-hr: rgba( $color__text-main, 0.25 );
$color__background-button: $color__background-body;
$color__background-input: rgba( $color__text-main, 0.02 );
$color__background-pre: rgba( $color__text-main, 0.09 );
$color__background-ins: #fff9c0;
$color__background-placeholder: rgba( $color__text-main, 0.5 );

$color__text-meta: rgba( $color__text-main, 0.5 );
$color__text-footer: rgba( $color__text-main, 0.75 );
$color__text-input: rgba( $color__text-main, 0.92 );

$color__text-button: darken( $color__text-main, 7 );
$color__text-input-focus: $color__text-main;
$color__text-placeholder: $color__background-body;

$color__border: darken( $color__text-main, 7 );
$color__border-button: $color__text-main;
$color__border-input: $color__text-main;
$color__border-abbr: rgba( $color__text-main, 0.75 );
$color__border-th: rgba( $color__text-main, 0.09 );

// Based on link color:
$color__link: rgba( $color__text-main, 0.9 );
$color__link-visited: $color__link;
$color__link-social: rgba( $color__text-main, 0.41 );
$color__link-social-hover: $color__link-accent;

// Screen Reader (unrelated to above colors)
$color__text-screen: $color__text-main;
$color__background-screen: #f1f1f1;