$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-input: #FAFAFA;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #333;
$color__text-meta: #999;
$color__text-screen: $color__text-main;
$color__text-footer: #666;
$color__text-input: #666;
$color__text-input-focus: $color__text-main;

$color__link: #454545;
$color__link-visited: $color__link;
$color__link-hover: teal;

$color__border: #222;
$color__border-button: #ccc;
$color__border-button-hover: #ccc;
$color__border-button-focus: #aaa;
$color__border-input: #333;
$color__border-abbr: #666;
