$size__width-main: 1280px;

$size__width-content: 920px;
$size__width-sidebar: 300px;
$size__width-2up: 440px;
$size__width-4up: 200px;

$size__gutter: 20px;
$size__gutter-2: 40px;
$size__gutter-3: 60px;