$size__width-main: 1280px;

$size__width-content: 71.875%;
$size__width-sidebar: 300px;
$size__width-2up: 47.826087%;
$size__width-4up: 21.7391304%;

$size__width-widget-main: calc( 50% - 200px );
$size__width-widget-end: 300px;

$size__gutter: 20px;
$size__gutter-2: 40px;
$size__gutter-3: 60px;