$font__main: "PT Serif", serif;
$font__header: "Aileron", sans-serif;
$font__input: "Aileron", sans-serif;
$font__logo: "Prata", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size-main: 1.8;
$font__size-h1: 7.2;
$font__size-h1-content: 3.6;
$font__size-h2: 2.8;
$font__size-h3: 1.6;
$font__size-h4: 1.6;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@mixin smallcaps {
	font-family: $font__header;
	@include font-size( $font__size-h3 );
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1px;
}