.site {
	margin: 0 auto;
	padding: 0 $size__gutter-2;
	max-width: $size__width-main;
	box-sizing: content-box;
}

@import "../layout/content-sidebar";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/index";
@import "primary/archive";
@import "primary/single";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.site-footer {
	margin-bottom: $size__gutter-3;
	padding-top: $size__gutter-2;
	border-top: 1px solid $color__border;
	@include smallcaps;
	color: $color__text-footer;
	@include font-size( 1.4 );

	a:link, a:visited {
		color: $color__text-footer;
		text-decoration: underline;
	}

	.site-info + .site-copyright {
		margin-top: $size__gutter;
	}
}

@import "responsive";
