@import "buttons";

@import "fields";

.comment-form {
	label {
		font-family: $font__header;
		@include font-size( 1.2 );
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1px;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		float: left;
		width: calc( 33.33333% - 20px );
	}

	.comment-form-email {
		margin-left: 30px;
		margin-right: 30px;
	}

	.comment-form-comment {
		clear: left;
	}

	.form-allowed-tags {
		@include font-size( 1.6 );
	}

	.form-allowed-tags code {
		@include font-size( 1.4 );
	}

	.form-submit {
		text-align: right;
	}
}

.post-password-form {
	input[type="password"] {
		width: 25%;
		min-width: 300px;
	}
	input[type="submit"] {
		position: relative;
		top: -2px;
		padding-top: 11px;
		padding-bottom: 10px;
	}
}
