.widget {
	padding: $size__gutter 0 $size__gutter-3;
	border-top: 1px solid $color__border;

	.widget-title {
		margin-bottom: $size__gutter-3;
	}

	ul {
		margin: 0;
		padding: 0 0 0 20px;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	&.widget_rss li {
		margin-bottom: 10px;
	}
	.rssSummary {
		margin: 5px 0;
		font-size: 16px;
		line-height: 1.2;
	}

	&.widget_calendar {
		caption, #prev, #next {
			@include smallcaps;
			font-weight: bold;
		}
		caption {
			margin-bottom: $size__gutter;
		}
		th {
			text-align: center;
		}
		tbody {
			text-align: right;
		}
		#prev a, #next a {
			display: block;
			margin-top: $size__gutter;
		}
	}
}

.footer-widgets {
	margin-top: $size__gutter-3;
	.widget {
		float: left;
		width: $size__width-widget-main;

		&:nth-of-type(3n+2) {
			margin: 0 60px 0 40px;
		}

		&:nth-of-type(3n+3) {
			width: $size__width-widget-end;
		}
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}