.widget {
	padding: $size__gutter 0 $size__gutter-3;
	border-top: 1px solid $color__border;

	.widget-title {
		margin-bottom: $size__gutter-3;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.footer-widgets {
	.widget {
		float: left;
		width: calc( 33.33333% - 26.6666667px );

		&:nth-of-type(3n+2) {
			margin: 0 40px;
		}
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}