a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-accent;
	}
	&:focus {
		outline: none;
		text-decoration: underline;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content,
.comment-content,
.widget {
	a {
		color: $color__link-accent;
		text-decoration: none;

		&:visited {
			color: $color__link-accent;
		}
		&:hover,
		&:focus,
		&:active {
			outline: 0;
			text-decoration: underline;
		}
	}
}

.read-more {
	text-decoration: underline;

	a:hover,
	a:focus,
	a:active {
		color: darken( $color__link-accent, 10% );
	}
}
