a {
	text-decoration: none;

	&:focus {
		outline: none;
		text-decoration: underline;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content,
.comment-content,
.widget {
	a {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			outline: 0;
			text-decoration: underline;
		}
	}
}

.read-more {
	text-decoration: underline;
}
