.main-navigation {
	position: relative;
	clear: both;
	display: block;
	padding-bottom: $size__gutter;
	width: 100%;

	font-family: $font__header;
	@include font-size( 1.8 );
	font-weight: bold;
	text-transform: uppercase;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}
}

#primary-menu {
	line-height: 1;

	li {
		&:hover > ul,
		&.focus > ul {
			left: auto;
		}
	}

	a {
		display: block;
		padding: 0 0 0 20px;
		text-decoration: none;

		&:after {
			content: '/';
			color: $color__text-meta;
			padding: 0 0 0 20px;

			li:last-of-type & {
				content: '';
				padding: 0;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {}

	.depth-0 > ul {
		position: absolute;
		top: 18px;
		left: -999em;
		z-index: 99999;
		background-color: $color__background-body;
		text-align: left;

		@include font-size( 1.4 );

		&:before {
			content: ' ';
			display: block;
			height: 20px;
		}

		li {
			border-left: 1px solid $color__border;
			border-right: 1px solid $color__border;

			&:first-of-type {
				padding-top: 10px;
			}

			&:last-of-type {
				padding-bottom: 10px;
				border-bottom: 1px solid $color__border;
			}

			&:hover > ul,
			&.focus > ul {
				margin-left: 0;
			}
		}

		a {
			margin: 7px 0;
			width: 200px;

			&:after {
				content: '';
				padding: 0;
			}
		}
	}

	.depth-1 > ul {
		li {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			border: none !important;
		}

		a {
			padding-left: 30px;

			&:before {
				content: '\2014 ';
			}
		}
	}
}

#social-menu {
	position: absolute;
	top: 0;
	left: 0;

	a {
		color: $color__link-social;
		@include genericon;
		margin: 5px 2px 0;
		padding: 0 !important;
		width: 24px;
		height: 26px;
		font-size: 20px;
		overflow: hidden;

		&:before {
			padding: 0 0 5px;
			display: block;
		}
	}

	a[href*="github"]:before { @include genericon-github; }
	a[href*="dribbble"]:before,
	a[href*="drbl.in"]:before { @include genericon-dribbble; }
	a[href*="twitter"]:before,
	a[href*="t.co"]:before { @include genericon-twitter; }
	a[href*="facebook"]:before,
	a[href*="fb.me"]:before { @include genericon-facebook; }
	a[href*="wordpress"]:before,
	a[href*="wp.me"]:before { @include genericon-wordpress; }
	a[href*="google"]:before { @include genericon-googleplus; }
	a[href*="linkedin"]:before,
	a[href*="lnkd.in"]:before { @include genericon-linkedin; }
	a[href*="pinterest"]:before { @include genericon-pinterest; }
	a[href*="flickr"]:before { @include genericon-flickr; }
	a[href*="vimeo"]:before { @include genericon-vimeo; }
	a[href*="youtube"]:before,
	a[href*="youtu.be"]:before { @include genericon-youtube; }
	a[href*="tumblr"]:before { @include genericon-tumblr; }
	a[href*="instagram"]:before { @include genericon-instagram; }
	a[href*="codepen"]:before { @include genericon-codepen; }
	a[href*="polldaddy"]:before { @include genericon-polldaddy; }
	a[href*="path"]:before { @include genericon-path; }
	a[href*="skype"]:before { @include genericon-skype; }
	a[href*="digg"]:before { @include genericon-digg; }
	a[href*="reddit"]:before { @include genericon-reddit; }
	a[href*="stumbleupon"]:before { @include genericon-stumbleupon; }
	a[href*="pocket"]:before { @include genericon-pocket; }
	a[href*="dropbox"]:before { @include genericon-dropbox; }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-next {
		float: left;
		width: 50%;
	}

	.nav-previous {
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-previous a,
	.nav-next a {
		display: inline-block;
		padding: 10px 30px;
		background-color: $color__background-body;
		border: 1px solid $color__border;
	}
}

.comment-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $size__gutter-2;
		overflow: hidden;
	}
}

.posts-navigation {
	clear: both;
	margin-top: $size__gutter-2 + 19px;
	border-top: 1px solid $color__border;

	.nav-links {
		margin-top: -19px;
	}
}
