.main-navigation {
	position: relative;
	clear: both;
	display: block;
	padding-bottom: $size__gutter;
	width: 100%;

	font-family: $font__header;
	@include font-size( 1.8 );
	font-weight: bold;
	text-transform: uppercase;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}
}

#primary-menu {
	line-height: 1;

	li {
		&:hover > ul,
		&.focus > ul {
			left: auto;
		}
	}

	a {
		display: block;
		padding: 0 0 0 20px;
		text-decoration: none;

		&:after {
			content: '/';
			color: $color__text-meta;
			padding: 0 0 0 20px;

			li:last-of-type & {
				content: '';
				padding: 0;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {}

	.depth-0 > ul {
		position: absolute;
		top: 18px;
		left: -999em;
		z-index: 99999;
		background-color: $color__background-body;
		text-align: left;

		@include font-size( 1.4 );

		&:before {
			content: ' ';
			display: block;
			height: 20px;
		}

		li {
			min-width: 100%;
			border-left: 1px solid $color__border;
			border-right: 1px solid $color__border;

			&:last-of-type {
				padding-bottom: 10px;
				border-bottom: 1px solid $color__border;
			}

			&:hover > ul,
			&.focus > ul {
				margin-left: 0;
			}
		}

		a {
			margin: 10px 0;
			padding: 0 20px;
			min-width: 250px;
			width: 100%;
			box-sizing: border-box;

			&:after {
				content: '';
				padding: 0;
			}
		}
	}

	.depth-1 > ul {
		li {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			border: none !important;
		}

		a {
			padding-left: 34px;
			padding-right: 5px;
			text-indent: -14px;

			&:before {
				content: '\2014 ';
			}
		}
	}
}

#social-menu {
	position: absolute;
	top: 0;
	left: 0;

	.overlapped & {
		position: static;
		display: inline-block;
		margin-bottom: $size__gutter/2;
	}

	a {
		color: $color__link-social;
		@include fa-icon();
		margin: 1px 2px 0;
		padding: 0 !important;
		width: 24px;
		height: 20px;
		font-size: 16px;
		overflow: hidden;

		&:before {
			padding: 0 0 5px;
			display: block;
		}

		&:hover,
		&:focus {
			color: $color__link-social-hover;
			text-decoration: none;
		}
	}

	a[href*="behance"]:before { content: $fa-var-behance-square; }
	a[href*="bitbucket"]:before { content: $fa-var-bitbucket-square; }
	a[href*="codepen"]:before { content: $fa-var-codepen; }
	a[href*="delicious"]:before { content: $fa-var-delicious; }
	a[href*="deviantart"]:before { content: $fa-var-deviantart; }
	a[href*="dribbble"]:before,
	a[href*="drbl.in"]:before { content: $fa-var-dribbble; }
	a[href*="facebook"]:before,
	a[href*="fb.me"]:before { content: $fa-var-facebook-square; }
	a[href*="flickr"]:before { content: $fa-var-flickr; }
	a[href*="foursquare"]:before { content: $fa-var-foursquare; }
	a[href*="github"]:before { content: $fa-var-github-square; }
	a[href*="google"]:before { content: $fa-var-google-plus-square; }
	a[href*="instagram"]:before { content: $fa-var-instagram; }
	a[href*="jsfiddle"]:before { content: $fa-var-jsfiddle; }
	a[href*="last.fm"]:before { content: $fa-var-lastfm-square; }
	a[href*="linkedin"]:before,
	a[href*="lnkd.in"]:before { content: $fa-var-linkedin-square; }
	a[href*="medium"]:before { content: $fa-var-medium; }
	a[href*="paypal"]:before { content: $fa-var-paypal; }
	a[href*="pinterest"]:before { content: $fa-var-pinterest-square; }
	a[href*="reddit"]:before { content: $fa-var-reddit-square; }
	a[href*="skype"]:before { content: $fa-var-skype; }
	a[href*="slack"]:before { content: $fa-var-slack; }
	a[href*="slideshare"]:before { content: $fa-var-slideshare; }
	a[href*="soundcloud"]:before { content: $fa-var-soundcloud; }
	a[href*="spotify"]:before { content: $fa-var-spotify; }
	a[href*="steam"]:before { content: $fa-var-steam-square; }
	a[href*="tumblr"]:before { content: $fa-var-tumblr-square; }
	a[href*="twitch"]:before { content: $fa-var-twitch; }
	a[href*="twitter"]:before,
	a[href*="t.co"]:before { content: $fa-var-twitter-square; }
	a[href*="vimeo"]:before { content: $fa-var-vimeo-square; }
	a[href*="vine"]:before { content: $fa-var-vine; }
	a[href*="wordpress"]:before,
	a[href*="wp.me"]:before  { content: $fa-var-wordpress; }
	a[href*="yelp"]:before { content: $fa-var-yelp; }
	a[href*="youtube"]:before,
	a[href*="youtu.be"]:before { content: $fa-var-youtube-square; }
}

/* Small menu. */
.menu-toggle {
	display: none;
	margin: 0 auto $size__gutter;
}

@media screen and (max-width: 600px) {
	.main-navigation ul {
		display: none;
	}

	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}

	#primary-menu {
		text-align: left;

		li {
			display: block;
			border: none !important;
		}

		a {
			padding: 5px 0;
			&:after {
				content: '';
				padding: 0;
			}
		}

		.depth-0 > ul {
			position: static;
			top: auto;
			left: auto;
			z-index: 0;
			background-color: transparent;

			&:before {
				content: '';
				height: 0px;
			}

			li {
				border: none;
			}
		}
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-next {
		float: left;
		width: 50%;
	}

	.nav-previous {
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-previous a,
	.nav-next a {
		display: inline-block;
		padding: 10px 30px;
		background-color: $color__background-body;
		border: 1px solid $color__border;
	}

	@media screen and (max-width: 1000px) and (min-width: 800px), screen and (max-width: 600px) {
		.nav-next,
		.nav-previous {
			float: none;
			width: 100%;
		}
	}
}

.comment-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $size__gutter-2;
		overflow: hidden;
	}

	@media screen and (max-width: 1000px) and (min-width: 800px), screen and (max-width: 600px) {
		.nav-previous + .nav-next {
			margin-top: $size__gutter;
		}
	}
}

.posts-navigation {
	clear: both;
	margin-top: $size__gutter-2 + 19px;
	border-top: 1px solid $color__border;

	.nav-links {
		margin-top: -19px;
	}
}
