p {
	margin-bottom: $size__gutter;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $size__gutter $size__gutter;
	border-width: 1px 0;
	border-style: solid;
	@include font-size( 2.0 );
	font-style: italic;
	text-align: center;
}

address {
	margin: 0 0 $size__gutter;
}

pre {
	font-family: $font__pre;
	@include font-size( 1.5 );
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size( 1.5 );
}

abbr, acronym {
	border-width: 0 0 1px;
	border-style: dotted;
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

.entry-meta,
.entry-footer,
.comment-metadata {
	@include font-size( 1.4 );
	font-style: italic;

	.sep {
		margin: 0 5px;
	}
}

.entry-footer {
	p {
		margin: 0;
	}
}

.read-more {
	margin-bottom: 0;
	@include font-size( 2.4 );
	font-weight: bold;
}

.entry-content,
.entry-summary,
.textwidget {
	& > :first-child {
		margin-top: 0;
	}
}

.entry-content table,
.widget table {
	th {
		padding: 5px 5px 10px;
		border-width: 0 0 1px;
		border-style: solid;
		@include smallcaps;
		text-align: left;
	}

	td {
		padding: 5px;
	}
}
