h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
}

h1 {
	@include font-size( $font__size-h1 );
}

h2 {
	margin-bottom: $size__gutter;
	@include font-size( $font__size-h2 );
}

h3,
.page-title,
.comments-title,
.comment-reply-title,
.section-title,
.posts-navigation {
	font-family: $font__header;
	@include font-size( $font__size-h3 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1px;
}

h4 {
	@include font-size( $font__size-h4 );
}

.site-header {
	margin-bottom: $size__gutter-2;
	text-align: center;
	border-bottom: 1px solid #222;
}

.site-branding {
	margin-bottom: 50px;
}

.site-title {
	margin-bottom: 0;
	font-family: $font__logo;

	a {
		text-decoration: none;
	}
}

.site-description {
	margin: 0;
	font-style: italic;
	color: $color__text-meta;
}

.archive-title {
	text-align: center;
}

.page-title,
.entry-title,
.widget-title {
	margin-top: 0;
	line-height: 1.2;
}

.page-title {
	margin-bottom: 0;
}

.archive-title,
.singular .entry-title {
	margin: 0 0 $size__gutter-2;
	@include font-size( 6.4 );
}