h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
}

h1 {
	@include font-size( $font__size-h1 );

	.entry-content & {
		@include font-size( $font__size-h1-content );
	}
}

h2 {
	margin-bottom: $size__gutter;
	@include font-size( $font__size-h2 );
}

h3,
.page-title,
.comments-title,
.comment-reply-title,
.section-title,
.posts-navigation,
#page #infinite-handle button {
	@include smallcaps;
	font-weight: bold;
}

h4 {
	@include font-size( $font__size-h4 );
}

h5, h6 {
	@include font-size( $font__size-h5 );
	text-transform: uppercase;
	letter-spacing: .04em;
}

.site-header {
	margin-bottom: $size__gutter-2;
	text-align: center;
	border-bottom: 1px solid #222;
}

.site-branding {
	margin-bottom: 50px;

	@media screen and (max-width: 600px) {
		margin-bottom: $size__gutter;
	}
}

.site-title {
	margin-bottom: 0;
	font-family: $font__logo;

	a {
		text-decoration: none;
	}

	@media screen and (max-width: 600px) {
		@include font-size( 4.6 );
	}
}

.site-description {
	margin: 0;
	font-style: italic;
	color: $color__text-meta;
}

.archive-title {
	text-align: center;
}

.page-title,
.entry-title,
.widget-title {
	margin-top: 0;
	line-height: 1.2;
}

.page-title {
	margin-bottom: 0;
}

.archive-title,
.singular .entry-title {
	margin: 0 0 $size__gutter-2;
	@include font-size( 6.4 );
	line-height: 1.2;

	@media screen and (max-width: 600px) {
		@include font-size( 4.6 );
	}
}