h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
}

.entry-content {
	h1 {
		@include font-size( $font__size-h1-content );
	}

	h2 {
		margin-bottom: $size__gutter;
		@include font-size( $font__size-h2 );
	}

	h3 {
		@include smallcaps;
		font-weight: bold;
	}

	h4 {
		@include font-size( $font__size-h4 );
	}

	h5,
	h6 {
		@include font-size( $font__size-h5 );
		text-transform: uppercase;
		letter-spacing: .04em;
	}
}

.site-header {
	margin-bottom: $size__gutter-2;
	text-align: center;
	border-width: 0 0 1px;
	border-style: solid;
}

.site-branding {
	margin-bottom: 40px;

	@media screen and (max-width: 600px) {
		margin-bottom: $size__gutter;
	}
}

.site-title {
	margin-bottom: 0;
	font-family: $font__logo;
	@include font-size( $font__size-h1 );

	a {
		text-decoration: none;
	}
}

.site-description {
	margin: 0;
	font-style: italic;
}

.page-title,
.entry-title,
.search-title {
	margin-top: 0;
	margin-bottom: $size__gutter;
	@include font-size( $font__size-h2 );
	line-height: 1.2;
}

.page-title {
	margin-bottom: 0;
	@include smallcaps;
	font-weight: bold;
	line-height: 1.2;
}

.archive-title,
.singular .entry-title {
	margin: 0 0 $size__gutter-2;
	@include font-size( 6.4 );
	line-height: 1.2;
	text-align: center;
}

.search-title {
	margin: 0 0 $size__gutter-2;
	@include smallcaps;
	font-weight: bold;
}

.widget-title {
	margin-top: 0;
	margin-bottom: $size__gutter;
	@include smallcaps;
}

.comments-title,
.comment-reply-title,
.section-title,
.posts-navigation,
#page #infinite-handle button {
	@include smallcaps;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 55%;
	}

	.site-title,
	.archive-title,
	.singular .entry-title {
		@include font-size( 5.22727273 );
	}
}
