.comments-area,
.comment-respond {
	border-top: 1px solid $color__border;
}

.comment-list {
	margin: $size__gutter-3 0 $size__gutter-2 * 2;
	padding: 0;
	list-style: none;

	.children {
		list-style: none;
	}
}

.comment-body {
	margin-bottom: $size__gutter-2;
}

.comment-avatar {
	float: left;
	margin-right: $size__gutter;
	border-radius: 50%;
	overflow: hidden;
}

.comment-author {
	margin: 0;
	font-family: $font__header;
}

.comment-content {
	clear: both;
	margin-bottom: $size__gutter;

	a {
		word-wrap: break-word;
	}
}

.comment-awaiting-moderation {
	font-style: italic;
}

.reply {
	a {
		display: inline-block;
		padding: 10px 30px;
		font-family: $font__header;
		@include font-size( 1.2 );
		letter-spacing: 1px;
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid $color__border;
	}
}

.comment-reply-title {
	margin-bottom: $size__gutter-2;
}
