.comments-area,
.comment-list + .comment-respond {
	border-width: 1px 0 0;
	border-style: solid;
}

.comment-list {
	margin: $size__gutter-3 0 $size__gutter-2 * 2;
	padding: 0;
	list-style: none;

	.children {
		list-style: none;
	}
}

.comment-body {
	margin-bottom: $size__gutter-2;
}

.comment-avatar {
	float: left;
	margin-right: $size__gutter;
	border-radius: 50%;
	overflow: hidden;

	.fa {
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		font-size: 1.5em;
	}
}

.comment-author {
	margin: 0;
	font-family: $font__header;
}

.comment-content {
	clear: both;
	margin-bottom: $size__gutter;

	a {
		word-wrap: break-word;
	}
}

.comment-awaiting-moderation {
	font-style: italic;
}

.reply {
	a {
		display: inline-block;
		padding: 10px 30px;
		@include smallcaps;
		@include font-size( 1.2 );
		font-weight: bold;
		border-width: 1px;
		border-style: solid;
	}
}

.comment-reply-title {
	margin-bottom: $size__gutter-2;
}
