.sticky { /*! not used */}

.page-header {
	padding: $size__gutter 0 $size__gutter-3;
	border-top: 1px solid $color__border;
}

.hentry {
	margin: 0 0 $size__gutter-2;
}

.entry-meta {
	margin: 10px 0 0;
}

.entry-image {
	float: left;
	margin: -10px 30px 0 0;
}

.page-links {
	clear: both;
}
