.singular {
	.site-main {
		padding-top: $size__gutter-2;
	}

	.hentry {
		margin-bottom: 80px;
	}

	.entry-title {
		text-align: center;
	}

	.entry-image {
		float: none;
		margin: 0 0 $size__gutter-2;
		text-align: center;
	}

	.entry-content {
		margin: 0 0 $size__gutter-3;
	}

	.sharedaddy {
		margin-top: $size__gutter-2;
	}

	.entry-footer {
		.sep {
			display: none;
		}
	}
}