/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#page #infinite-handle {
	clear: both;
	margin-top: $size__gutter-2 + 19px;
	border-top: 1px solid $color__border;

	span {
		float: right;
		display: block;
		margin-top: -19px;
		padding: 0;
		width: 50%;
		background-color: transparent;
		text-align: right;

		button,
		button:hover,
		button:focus {
			display: inline-block;
			padding: 10px 30px;
			color: $color__text-main;
			background-color: $color__background-body;
			border: 1px solid $color__border;
		}
	}
}
